<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <form action="/" method="get">
    <button type="submit" class="btn-custom">
        <h1>Codecool Shop</h1>
    </button>
    </form>
<div id="test"></div>
</div>
<div class="container">
    <form action="/login" method="post" th:if="${user == null}">
        <div class="col-sm-3">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" name="username"></input>
        </div>
        <div class="col-sm-3">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" name="password"></input>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </form>
    <div class="col-sm-3" th:if="${user == null}">
        <button type="submit" class="btn btn-md btn-success btn-block" data-toggle="modal" data-target="#registration">
            Register
        </button>
    </div>
    <form action="/logout" method="get" th:if="${user != null}">
        <div class="col-sm-3">
            <div class="row">
                <div id="category-title">
                    <p th:text="${'Logged in as: ' + user.getUsername()}"></p>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-success btn-block">
                Log Out
            </button>
        </div>
    </form>

</div>
<div class="row">
    <div class="col-sm-12">
        <p th:if="${loginerror == true}" id="category-title" align="center">Invalid Username or Password !!</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p th:if="${registrationerror == true}" id="category-title" align="center">Existing Username, please choose another !</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p th:if="${saveduser == true}" id="category-title" align="center" th:text="'You are now Registered !'"></p>
    </div>
</div>

<br> </br>

<div class="container">

    <div class="conainer-custom">
        <div class="row">


            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">My Shopping Cart</h4>
                        </div>
                        <div class="modal-body">
                            <p th:text= "'Your Shopping Cart contains '+ ${cartlength} + ' items'">Shopping Cart Content</p>
                            <ul class="list-group">


                                <table class="table" style="width:100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Subtotal Price</th>
                                    </tr>
                                    <tr th:each="instance : ${cart}">
                                        <td th:text="${instance.key.name}">Name</td>
                                        <td th:text="${instance.key.price}">Price</td>
                                        <td th:text="${instance.value}">50</td>
                                        <td th:text="${instance.key.defaultPrice * instance.value} + ' '
                                        + ${instance.key.defaultCurrency}">subtotalprize</td>
                                    </tr>
                                </table>
                            </ul>
                            <strong th:text=" 'Your total price: ' + ${totalsum} + ' USD'">asd</strong>
                        </div>



                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <form action="/checkout" method="get">
                                <button th:if="${user != null}" type="submit" class="btn btn-primary">Checkout</button>
                                <button th:if="${user == null}" type="submit" class="btn btn-primary" disabled="disabled">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="registration" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="row">
                                <div class="col-sm-12" id="category-title">
                                    <p align="center">Registration</p>
                                </div>
                                <h4 align="center">Please fill out the following form</h4>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid" th:replace="registration :: registration"></div>

                        </div>

                    </div>
                </div>
            </div>

        <div class="col-sm-8">

                <a href="/" class="btn btn-home btn-lg">
                <span class="glyphicon glyphicon-home"></span> Home
                </a>
                <button class="btn dropdown-toggle" id="filter1" type="button" data-toggle="dropdown">Category
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-left">


                        <li th:each="categ : ${allcategories}"><a href="/filter" th:attr="href='/filter/'
                        + ${categ.id}" th:text="${categ.name}">Tablet</a></li>


                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a href="/">All</a></li>
                    </ul>
            <div class="btn-group">
                <button class="btn dropdown-toggle" id="filter2" type="button" data-toggle="dropdown">Supplier
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li th:each="supp : ${allsuppliers}"><a href="/filter" id="tablet" th:attr="href='/supplier/' + ${supp.id}" th:text="${supp.name}">Amazon</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a href="/">All</a></li>
                    </ul>
            </div>
        </div>
            <div class="col-sm-4">
                <div align="right">
                    <button type="button" class="btn btn-cart btn-sm pull-right" data-toggle="modal" data-target="#myModal">
                        <p th:text="${cartlength} + '  Shopping Cart'">Shopping Cart</p><span class="glyphicon glyphicon-shopping-cart"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="category-title">
                <strong th:text="${allproducts != null} ? ${allproducts} : ${category.name}">someValue</strong>
            </div>
        </div>

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">

            <div class="modal fade" id="" th:attr="id=${prod.getId()}" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <p th:text="${prod.name}"></p>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <form action="/cart" method="post">

                                <input type="hidden" name="prodid" value="" th:attr="value=${prod.id}"></input>

                                <button class="btn btn-success" type="submit">Add to cart</button>

                            </form>

                            <a data-toggle="modal" data-id="" th:attr="id=${prod.getId()}"  class="open-modal btn btn-primary" href="" th:href="'#' +${prod.getId()}">test</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div th:utext="${video}"></div>
<div th:replace="footer :: copy"></div>
<script type="text/javascript" src="/javascript/index.js"></script>
<!-- jQuery library -->
</body>
</html>