<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <form action="/" method="get">
    <button type="submit" class="btn-custom">
        <p>Codecool Shop</p>
    </button>
    </form>

</div>


<div class="container">
    <div class="conainer-custom">
        <div class="row">


        <div class="col-sm-6">
            <div class="btn-group">
                <button class="btn dropdown-toggle" id="filter1" type="button" data-toggle="dropdown">Category
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li th:each="categ : ${allcategories}"><a href="/filter" th:attr="href='/filter/' + ${categ.id}" th:text="${categ.name}">Tablet</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a href="/">All</a></li>
                    </ul>
            </div>
            <div class="btn-group">
                <button class="btn dropdown-toggle" id="filter2" type="button" data-toggle="dropdown">Supplier
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li th:each="supp : ${allsuppliers}"><a href="/filter" id="tablet" th:attr="href='/supplier/' + ${supp.id}" th:text="${supp.name}">Amazon</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a href="/">All</a></li>
                    </ul>
            </div>
        </div>
            <div class="col-sm-6">

                <div class="button-box">
                    <button type="button" class="btn btn-default btn-sm " id="cart">
                        <p th:text="${cartlength} + '  Shopping Cart'">Shopping Cart</p><span class="glyphicon glyphicon-shopping-cart"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="category-title">
                <strong th:text="${category.name}">Category Title</strong>
            </div>
        </div>
    </div>

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <form action="/cart" method="post">

                                <input type="hidden" name="prodid" value="" th:attr="value=${prod.id}"></input>

                                <button class="btn btn-success" type="submit">Add to cart</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>